@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    font-family: Audiowide, sans-serif;
    background-color: #2F3C7E;
    color: #FBEAEB;
    max-width: 100%;
    text-align: center;
}

h1 {
    max-width: 100%;
    font-size: 20px;
}

h2 {
    font-size: 9px;
}

#container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

#computer-area {
    height: 80px;
    width: 65px;
    border: 2px solid orange;

}

#user-area {
    height: 80px;
    width: 65px;
    border: 2px solid orange;
}

#computer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#computer-score-area {
    text-align: left;
    height: 80px;
    width: 65px;
}

#computer-score {

    text-align: left;
}

#computer-choice-area {
    text-align: right;
    height: 80px;
    width: 65px;
}

#computer-choice {
    text-align: right;
}

#user-score {
    text-align: left;
}

#user-score-area {
    text-align: left;
    height: 80px;
    width: 60px;
    margin-right: 5px;
}

#user-choice {
    text-align: right;
}

#user-choice-area {
    text-align: right;
    height: 80px;
    width: 65px;
}

img {
    width: 65px;
    height: 80px;
}

#control-area {
    justify-content: center;
    margin-top: 30px;
}

button {
    font-family: Audiowide, sans-serif;
    background-color: #FBEAEB;
    color: #2F3C7E;
    border-radius: 5px;
    font-size: 15px;
}

.hide {
    display: none;
}